* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 2000px;
}

.jumbotron {
    padding-top: 6rem;
    background: #9bcff1;

}
section{
    padding-top: 2rem;
}
.card-img-top{
    
    height: 600px;
    position: relative;
}
section div video{
    width: 400px;
    height: 500px;
    margin: 50px auto;
    position: relative;
    
}
nav div img {
width: 90px;
}
.logo {
    padding: 0,5rem -0,5rem;
    margin-left: 0px;
       
}
@media screen and (max-width: 476px;) {
    video{
        flex-wrap: wrap;
    }
        .jumbotron {
            padding-top: 6rem;
            background: #9bcff1;
}    
}
